USE [master]
GO
/****** Object:  Database [KullaniciDB]    Script Date: 15/10/46 10:48:30 م ******/
CREATE DATABASE [KullaniciDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KullaniciDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KullaniciDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KullaniciDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KullaniciDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KullaniciDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KullaniciDB]
GO
/****** Object:  Table [dbo].[KullaniciBilgileri]    Script Date: 15/10/46 10:48:30 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciBilgileri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Gun] [int] NULL,
	[Ay] [nvarchar](20) NULL,
	[Yil] [int] NULL,
	[Burc] [nvarchar](20) NULL,
	[BurcYorum] [nvarchar](200) NULL,
	[burcResmi] [nvarchar](200) NULL,
	[VKI] [float] NULL,
	[VKIYorum] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
